{% if buttonColour == 'bg-blue' %} 
    {% set buttonColour = 'bg-primary text-white hover:bg-primary-mid' %}
{% elseif buttonColour == 'bg-bleu-light' %} 
    {% set buttonColour = 'bg-primary-light text-primary-dark hover:bg-primary-lighter' %}
{% elseif buttonColour == 'bg-bleu' %} 
    {% set buttonColour = 'bg-bleu text-white hover:bg-bleu-light' %}
{% endif %}

<a href="{{buttonLink}}" class="btn {{buttonColour}} {{buttonClass}}">{{buttonText}}</a>