{#
  Title: Full Width CTA
  Description: Full Width CTA
  Category: formatting
  Icon: cover-image
  Keywords: cta
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

{% if fields.margin_options =='nmb' %}
    {% set marginOptions = 'translate-y-20 -mt-20' %}
{% elseif fields.margin_options =='nmt' %}
    {% set marginOptions = '-translate-y-20 -mb-20' %}
{% elseif fields.margin_options =='def' %}
    {% set marginOptions = ' ' %}
{% elseif fields.margin_options =='ept' %}
    {% set marginOptions = 'pt-32' %}
{% elseif fields.margin_options =='epb' %}
    {% set marginOptions = 'pb-32' %}
{% endif %}

<div class="container relative flex flex-wrap px-8 lg:flex-nowrap z-10 {{ marginOptions }}">

    <div class="flex flex-wrap w-full p-8 text-white lg:w-1/2 bg-primary-dark">

        {% for media_item in fields.full_width_cta %}
      
            {% if media_item.acf_fc_layout == 'text' %}
                <p class="w-full h2">{{ media_item.heading }}</p>
            {% endif %}

            {% if media_item.acf_fc_layout == 'text' %}
                <p class="w-full pb-3">{{ media_item.content_section }}</p>
            {% endif %}

            {% if media_item.acf_fc_layout == 'text' %}

                {% if 'button' in media_item.actions %}

                    <div class="flex w-full" data-animate="fadeIn">
                    
                        {% for item in media_item.button %}

                            {% include "_components/button.twig" with {
                            buttonText : item.text,
                            buttonColour : item.colour,
                            buttonLink : item.link.link,
                            buttonClass : "px-6 py-2 mt-2 font-bold md:mb-0"
                            } %}

                        {% endfor %}

                    </div>
                    
                {% endif %}

                {% if 'number' in media_item.actions %}

                    <p class="phone">Call us <span class="text-lg font-bold">0115 647 7200</span></p>

                {% endif %}
                
            {% endif %}

        {% endfor %}

    </div>

    <div class="relative flex-wrap hidden w-full overflow-hidden text-white lg:flex lg:w-1/2 bg-primary-light">

    {% for media_item in fields.full_width_cta %}

        {% if media_item.acf_fc_layout == 'image' %}

            <img class="absolute" src="{{ Image((media_item.cta_image)).src|resize(900) }}" />

        {% endif %}

     {% endfor %}

    </div>
    
</div>